@model HotelDetailsViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">


@await Component.InvokeAsync("_HeadComponentPartial")

<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>

    @await Component.InvokeAsync("_NavbarComponentPartial")
    @await Component.InvokeAsync("_HeaderComponentPartial")



    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Hotel Deatils</h2>
                        <div class="bt-option">
                            <a href="./home.html">Home</a>
                            <span>Hotel</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="room-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="room-details-item">
                        <img src="@TempData["Photo"]">
                        <div class="rd-text">
                            <div class="rd-title">
                                <h3>@Model.data.hotel_name</h3>
                                <div class="rdt-right">
                                    <div class="rating">
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star-half_alt"></i>
                                    </div>
                                    <a href="#">Booking Now</a>
                                </div>
                            </div>
                            <h2><span>Available Rooms:/@Model.data.available_rooms</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Description:</td>
                                        <td>@Model.data.address</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Room Size : </td>
                                        <td>@Model.data.average_room_size_for_ufi_m2 /m2</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Default Language : </td>
                                        <td>@Model.data.default_language</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Include Breakfast: </td>
                                        <td>@Model.data.hotel_include_breakfast</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Family Friendly: </td>
                                        <td>@Model.data.is_family_friendly</td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>


                </div>

            </div>
        </div>
    </section>
    <br />





    @await Component.InvokeAsync("_FooterComponentPartial")
    <!-- Footer Section End -->
    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <!-- Js Plugins -->
    @await Component.InvokeAsync("_ScriptComponentPartial")

</body>

</html>
